{% extends 'base.html' %}
{% block body %}
<div class="container my-3">
    <h2>Add ToDo</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">ToDo Title</label>
            <input type="text" class="form-control" name="title" id="title" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">ToDo Description</label>
            <input type="text" class="form-control" name="desc" id="desc" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container my-3">
    <h2>Your Todos</h2>
    {% if all_todos|length==0 %}
        <div class="alert alert-info" role="alert">
            No Todos found. Please add a Todo.
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SrNo.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Created At</th>
                        <th class="action-col">Delete</th>
                        <th class="action-col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in all_todos %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.desc }}</td>
                        <td>{{ todo.date_created.strftime('%Y-%m-%d %I:%M %p') }}</td>
                        <td><a href="/delete/{{ todo.srno }}" class="btn btn-danger btn-sm">Delete</a></td>
                        <td><a href="/edit/{{ todo.srno }}" class="btn btn-warning btn-sm">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
